cli/build_nrf5340dk_nrf5340_cpuappns
cli/build
cli/lib/**
cli/include/blst.h
cli/include/blst_aux.h
emu/build
emu/lib
test/test.exe
test/test
test/go.mod
test/go.sum
.vscode/settings.json
server/*
sv/*
